:root {
   font-size: 16px;
}

.card {
   background-color: #fcdab7;
    width: 14rem;
    height: 19rem;
    display: inline-block;
    border-right: 0.2em;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.01rem aqua;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
 }



 .images {
    border-right: 0.2em;
    width: 100%;
    height: 100%;
 }

 .container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }

 
 .image {
    width: 60%;
    height: 50%;
    border: 1px solid #ccc;
    object-fit: cover;
    border-radius: 1.5rem;
    border-color: #333;
    box-shadow: 0 0 0.6rem 0.5rem black;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    margin-top: 10px;
    
 }

 .image:hover {
   transform: scale(1.1) translateX(calc((100% - 75%) / 2)) translateY(calc((100% - 100%) / 2)) translate(-11%
   );
}
 
 .name,
 .species,
 .gender {
   font-family: 'Luckiest Guy', cursive;
   font-size: 100%;
   color: black;
   margin: 5px;
 
   text-shadow: 1px 1px 0px aqua;
 }
 

 
 .button{
    font-size: 70%;
    width: 40%;
    height: 10%;
    background-color: aqua;
    color: black;
    border-color: #333;
    padding: 5px 10px;
    margin-top: -5px;
    cursor: pointer;
    border-radius: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fcdab7;
    font-weight: bold;
    box-shadow: 0 0 1rem 0.001rem black;
 }
 
 
.searchButton {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aqua;
  margin-left: 10px;
  cursor: pointer;
}


.link-card{
   text-decoration: none;
}